.featured-posts {
  height: 300px;
  margin: 5px 0px 0px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featured-posts h2 span {
  //  border: solid red;
   width: 520px;
   display: inline-block;
   display: block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   margin-top: 160px;
}

.featured-posts h3 span {
   display: inline-block;
   color: white;
   font: bold 18px/32px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px 5px 5px 10px;
}

.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}

.team_member {
  margin: 5px 5px 25px 5px;
  text-align: center;
}

.team_member h2 {
  margin: 10px;
}

.individual {
  text-align: center;
  display: inline-block;
  margin: 5px 20px 5px 20px;
}

.individual img {
  margin-top: 5px;
}

.individual h4 {
  margin-top: 10px;
  color: #1C2833;
}

.individual h5 {
  margin-top: 5px;
  color: #273746;
}

.tg  {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 10px;
}

.tg td {
  padding: 10px 5px;
  border-width: 1px;
  overflow: hidden;
  // border-style: solid;
  // border-color: #ABB2B9;
  word-break: normal;
}

.tg th {
  font-weight: normal;
  padding: 10px 5px;
  border-width: 1px;
  // border-style: solid;
  // border-color: #ABB2B9;
  overflow: hidden;
  word-break: normal;
}

.tg .tg-col{
  vertical-align: top;
}
