<div class="right">

    <div class="header">
      <h3>Latest news</h3>
    </div>
    <div class="grey_box">
      <table class="tg">
        <tr>
          <th class="tg-col">The submission deadline is extended! See more info at:&nbsp;<a href="https://iwsc2018.github.io/pages/important_dates.html">Important Dates</a>&nbsp;page.</th>
        </tr>
        <tr>
          <th class="tg-col">Paper submission via <a href="https://easychair.org/conferences/?conf=iwsc2018">EasyChair</a></th>
        </tr>
        <tr>
          <td class="tg-col">IWSC 2018 is co-located with SANER'18!</td>
        </tr>
      </table>
    </div>
    <div class="header">
      <h3>Upcoming deadlines</h3>
    </div>
    <div class="grey_box">
      <table class="tg">
        <tr>
          <th class="tg-col">Abstract submission:</th>
          <th class="tg-col">19 Jan 18 AoE</th>
        </tr>
        <tr>
          <td class="tg-col">Paper submission:</td>
          <td class="tg-col">26 Jan 18 AoE</td>
        </tr>
        <tr>
          <td class="tg-col">Notifications:</td>
          <td class="tg-col">16 Feb 18</td>
        </tr>
      </table>
    </div>
    <div class="header">
      <h3>Twitter</h3>
    </div>
    <div class="grey_box">
        <a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/iwsc2018">Tweets by ssbse</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="header">
      <h3>Facebook</h3>
    </div>
    <div class="grey_box">
      <div class="fb-page" data-href="https://www.facebook.com/iwsc.workshop"
          data-tabs="timeline" data-small-header="true"
          data-adapt-container-width="true"
          data-hide-cover="true" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/iwsc.workshop" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/iwsc.workshop">International Workshop on Software Clones</a>
          </blockquote>
      </div>
    </div>
  </div>
