<div class="right">
  <div class="header">
    <h3>Latest news</h3>
  </div>
  <div class="grey_box">
    IWSC 2018 is co-located with SANER'18!
  </div>
  <div class="header">
    <h3>Upcoming deadlines</h3>
  </div>
  <div class="grey_box">
    <table class="tg">
      <tr>
        <th class="tg-col">Abstract submission:</th>
        <th class="tg-col">5 Jan 18 AoE</th>
      </tr>
      <tr>
        <td class="tg-col">Paper submission:</td>
        <td class="tg-col">12 Jan 18 AoE</td>
      </tr>
      <tr>
        <td class="tg-col">Notifications:</td>
        <td class="tg-col">9 Feb 18</td>
      </tr>
    </table>
  </div>
  <div class="header">
    <h3>Twitter</h3>
  </div>
  <div class="grey_box">
    <a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/iwsc2017">Tweets by ssbse</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
